{% load static %}
<footer id="gen-footer">
   <div class="gen-footer-style-1">

      <div class="gen-footer-top">
         <div class="container">
         <center>
         <img src="{% static 'images/logo/Popcorn-logo.png' %}" class="gen-footer-logo" alt="gen-footer-logo">
         <ul class="social-link ">
            <a href="#" class="text-white font-weight-bold">Terms and Privacy Notice</a>&nbsp;&nbsp;&nbsp;
            <a href="#" class="text-white font-weight-bold">Send us feedback</a>&nbsp;&nbsp;&nbsp;
            <a href="#" class="text-white font-weight-bold">Help</a>&nbsp;&nbsp;&nbsp;
         </ul>
         <p>© 2022, popcorntv.com, Inc. or its affiliates</p>
         </center>
         </div>
      </div>

   </div>
</footer>