{% load static %}
<!-- js-min -->
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'js/asyncloader.min.js' %}"></script>
<!-- JS bootstrap -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- owl-carousel -->
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<!-- counter-js -->
<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'js/jquery.counterup.min.js' %}"></script>
<!-- popper-js -->
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/swiper-bundle.min.js' %}"></script>
<!-- Iscotop -->
<script src="{% static 'js/isotope.pkgd.min.js' %}"></script>

<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>

<script src="{% static 'js/slick.min.js' %}"></script>

<script src="{% static 'js/streamlab-core.js' %}"></script>