<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <title>
    Auto Provisioning Cloud
  </title>
  {% load static %}
  <!-- CSS -->
  <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
  <!-- Brand Logo -->
  <link rel="icon" href="{% static 'assets/img/brand/logo1.png' %}">
  <!-- Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
  <!-- Icons -->
  <link rel="stylesheet" href="{% static 'assets/vendor/nucleo/css/nucleo.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'assets/vendor/fortawesome/fontawesome-free/css/all.min.css' %}" type="text/css">

  <!-- Specific CSS goes HERE -->
  {% block stylesheets %}{% endblock stylesheets %}
</head>

<body class="">
  <div class="bg"></div>
  <div class="bg bg2"></div>
  <div class="bg bg3"></div>

  {% comment %} {% include "includes/sidenav.html" %} {% endcomment %}

  <div class="main-content" id="panel">

    {% comment %} {% include "includes/navigation.html" %} {% endcomment %}

    {% block content %}{% endblock content %}

  </div>

  {% include "includes/scripts.html" %}

  <!-- Specific JS goes HERE --> 
  {% block javascripts %}{% endblock javascripts %}

  <script src="{% static 'assets/js/argon.js' %}"></script>

</body>

</html>
