{% extends 'layouts/base.html' %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

{% load static %}

<!-- owl-carousel Banner Start -->
<section class="pt-0 pb-0">
   <div class="container-fluid px-0">
      <div class="row no-gutters">
         <div class="col-12">
            <div class="gen-banner-movies banner-style-2">

               {% for item in movieInformationDB %}

                  <div class="item" style="background: url('{{item.backdropPath}}')">
                     <div class="gen-movie-contain-style-2 h-100">
                        <div class="container h-100">

                           <div class="row flex-row-reverse align-items-center h-100">
                              <div class="col-xl-6">
                                 <div class="gen-front-image">
                                    <img src="{{item.posterPath}}" class = "rounded mx-auto d-block" alt="owl-carousel-banner-image">
                                    <a href="" class="playBut popup-youtube popup-vimeo popup-gmaps">
                                       <!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In  -->
                                       <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="213.7px"
                                          height="213.7px" viewBox="0 0 213.7 213.7"
                                          enable-background="new 0 0 213.7 213.7" xml:space="preserve">
                                          <polygon class="triangle" id="XMLID_17_" fill="none" stroke-width="7"
                                             stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                                             points="
                                                         73.5,62.5 148.5,105.8 73.5,149.1 "></polygon>
                                          <circle class="circle" id="XMLID_18_" fill="none" stroke-width="7"
                                             stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                                             cx="106.8" cy="106.8" r="103.3">
                                          </circle>
                                       </svg>
                                       <span>Watch Movie</span>
                                    </a>
                                 </div>
                              </div>
                              <div class="col-xl-6">
                                 <div class="gen-tag-line"><span>Most Viewed</span></div>
                                 <div class="gen-movie-info">
                                    <h3>{{item.movieName}}</h3>
                                 </div>
                                 <div class="gen-movie-meta-holder">
                                    <ul class="gen-meta-after-title">
                                       <li>
                                          <i class="fas fa-eye text-success"></i>
                                          <span>{{item.voteCount}} Views</span>
                                       </li>
                                       <li>
                                          <i class="fa fa-star text-warning"></i>
                                          <span>{{item.voteAverage}}</span>
                                       </li>
                                       <li class="gen-sen-rating">
                                          <span>{{item.releaseDate}}</span>
                                       </li>
                                       <li>
                                          <a href="#"><span>{{item.movieType}}</span></a>
                                       </li>
                                    </ul>
                                    <p class="text-justify">{{item.overview}}</p>
                                    <div class="gen-meta-info">
                                       <ul class="gen-meta-after-excerpt">
                                          <!-- <li>
                                             <strong>demo :</strong>
                                             demo
                                          </li>
                                          <li>
                                             <strong>demo :</strong>
                                             demo
                                          </li>
                                          <li>
                                             <strong>demo :</strong>
                                             demo
                                          </li> -->
                                       </ul>
                                    </div>
                                 </div>
                                 <div class="gen-movie-action">
                                    <div class="">
                                       <div class="h3">Trailer</div>

                                       <a href="{% url 'inneyePlay' item.movieId %}" class="m-1 align-items-center">
                                          <img class="rounded" src="{{item.backdropPath}}" alt="" width="300">
                                       </a>

                                       <a href="{% url 'inneyePlay' item.movieId %}" class="m-1 align-items-center">
                                          <img class="rounded" src="{{item.backdropPath}}" alt="" width="300">
                                       </a>
                                       
                                    </div>
                                 </div>

                              </div>

                           </div>

                        </div>
                     </div>
                  </div>

               {% endfor %}

            </div>
         </div>
      </div>
   </div>
</section>
<!-- owl-carousel Banner End -->

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}

{% load static %}
<!-- <script src="{% static '' %}"></script>
<script src="{% static '' %}"></script> -->

{% endblock javascripts %}


